/* displayModeBar CSS */
.js-plotly-plot .plotly .modebar {
  display: flex !important;
  gap: 4px !important;
}

.js-plotly-plot .plotly .modebar-group {
  display: flex !important;
  padding: 0 !important;
}
